* {
	box-sizing: border-box
}

body,
html {
	margin: 0
}

body {
	overflow-y: scroll;
	font-family: var(--font-family);
	max-width: 70em;
	color: var(--text);
	margin: 0 auto;
	padding: 0 1em;
	line-height: 1.5
}

main:not(:empty) {
	margin-bottom: 5em
}

h1:first-child {
	margin-top: .25em;
	margin-bottom: .5em;
	line-height: 1.2;
	color: var(--accent-teal-c)
}

h1,
h2,
h3 {
	font-family: var(--display-font-family);
	font-weight: 400
}

@media (min-width:37.5em) {
	.content {
		font-size: 1.25em
	}
	.content h1:first-child {
		font-size: 2.6em
	}
}

.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px)
}

:link,
:visited {
	color: inherit;
	text-decoration-color: var(--accent-teal-b)
}

:link:hover,
:visited:hover {
	text-decoration-color: var(--base-a)
}

code {
	background-color: var(--base-f);
	font-family: Roboto Mono, monospace
}

.subsection>ul {
	margin: 0
}

dt {
	font-weight: 700
}

dd {
	margin: 0
}

img {
	max-width: 100%
}

:root {
	--base-a: #0E1E25;
	--base-b: #2D3B41;
	--base-c: #7D8589;
	--base-d: #A3A9AC;
	--base-e: #E9EBEB;
	--base-f: #F7F8F8;
	--accent-teal-a: #00AD9F;
	--accent-teal-b: #00C7B7;
	--accent-teal-c: #15847D;
	--accent-pink-a: #FA3946;
	--accent-pink-b: #FB6D77;
	--accent-yellow-a: #DBA800;
	--accent-yellow-b: #F6BC00;
	--border: var(--accent-teal-c);
	--border-light: var(--base-e);
	--border-radius: 0.375em;
	--text: var(--base-a);
	--spacing: 0.75rem;
	--font-family: Roboto, system-ui, sans-serif;
	--display-font-family: MADE-Dillan, system-ui, sans-serif
}

@font-face {
	font-family: MADE-Dillan;
	src: url("https://d33wubrfki0l68.cloudfront.net/05e9e6031d161ead9e868c31766112b6d811187d/a9a48/fonts/made-dillan-latin.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/777481175c092804445da0261eb181d8cac5ec80/dde0a/fonts/made-dillan-latin.woff") format("woff");
	unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD, U+1F3FB, U+1F44D;
	font-weight: 400;
	font-display: swap
}

@font-face {
	font-family: Roboto;
	src: url("https://d33wubrfki0l68.cloudfront.net/298c4c94f870bf3e71e22cd32950ab0ebe56538c/815b7/fonts/roboto-regular-latin.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/7e835d6edfe57a5e3009cb0c0012ce6cee88b14b/a4be1/fonts/roboto-regular-latin.woff") format("woff");
	unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD, U+1F3FB, U+1F44D;
	font-display: swap
}

@font-face {
	font-family: Roboto;
	src: url("https://d33wubrfki0l68.cloudfront.net/6ee00557474cf505802e721dba7e17c5973d8c42/480db/fonts/roboto-medium-latin.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/65a666b54763ccb7008d1245adac28e938bf9aa5/2d66e/fonts/roboto-medium-latin.woff") format("woff");
	unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD, U+1F3FB, U+1F44D;
	font-weight: 500;
	font-display: swap
}

@font-face {
	font-family: Roboto;
	src: url("https://d33wubrfki0l68.cloudfront.net/7d1d9f66b8e0a605d6a61a13306080d63652749d/8f542/fonts/roboto-bold-latin.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/321571b76600c85074f9ae16c06ef487afc2fe10/64f41/fonts/roboto-bold-latin.woff") format("woff");
	unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD, U+1F3FB, U+1F44D;
	font-weight: 700;
	font-display: swap
}

@font-face {
	font-family: Roboto;
	src: url("https://d33wubrfki0l68.cloudfront.net/0b25bdb74f2c5c16d716723b8abfb8effa560e5e/79616/fonts/roboto-italic-latin.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/c14e8e6b016b204f69cd143b57a3c9115bd8e908/d59e6/fonts/roboto-italic-latin.woff") format("woff");
	unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD, U+1F3FB, U+1F44D;
	font-style: italic;
	font-display: swap
}

.nh-header {
	padding: 1em 0;
	margin: 0
}

.nh-header-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none
}

.nh-header-logo {
	max-width: 40%;
	height: auto;
	margin: .25em;
	margin-right: .75em
}

.nh-header-sublogo {
	max-width: 45%;
	height: auto
}

.tools {
	background-color: var(--base-f);
	padding: .875em 1em;
	margin-bottom: 1em;
	margin-left: -1em;
	margin-right: -1em
}

.tools-list {
	flex-basis: 20em;
	flex-grow: 999;
	display: inline-block;
	padding: 0;
	margin: 0
}

.tools-list li {
	display: block
}

@media (min-width:37.5em) {
	.tools {
		display: flex;
		flex-wrap: wrap
	}
	.tools-list li {
		display: inline-block;
		margin-left: .75em
	}
}

@media (min-width:71.875em) {
	.tools {
		border-radius: var(--border-radius)
	}
}

.lo {
	--lo-stackpoint: initial;
	--lo-margin-h: 0px;
	--lo-margin-v: 0px;
	display: flex;
	flex-wrap: wrap;
	line-height: 1;
	margin: 0;
	margin-top: calc(-1 * var(--lo-margin-v));
	margin-left: calc(-1 * var(--lo-margin-h))
}

.lo-c,
ul.lo>li {
	--lo-margin-mod: calc( var(--lo-stackpoint, -1 * var(--lo-margin-h)) - var(--lo-stackpoint, 0px) + var(--lo-margin-h));
	--lo-stackpoint-calc: calc( ( var(--lo-stackpoint, 100%) - 100% + var(--lo-margin-mod)) * 999);
	flex-grow: 1;
	flex-basis: var(--lo-stackpoint-calc);
	margin: 0;
	margin-top: var(--lo-margin-v);
	margin-left: var(--lo-margin-h)
}

.lo-debug>.lo-c {
	outline: 1px dotted
}

.lo-inline>.lo-c {
	flex-grow: 0
}

.lo-maxgrow {
	flex-grow: 999
}

.lo-nocontentwrap {
	flex-basis: auto
}

.lo-c-c {
	display: flex;
	align-items: center
}

@supports (clip-path:inset(0px 0px)) or (-webkit-clip-path:inset(0px 0px)) {
	.lo-separator-h,
	.lo-separator-v {
		--lo-separator-color-fallback: rgba(100, 100, 100, .35);
		-webkit-clip-path: inset(var(--lo-margin-v, 0) 0 0 var(--lo-margin-h, 0));
		clip-path: inset(var(--lo-margin-v, 0) 0 0 var(--lo-margin-h, 0))
	}
	.lo-separator-h>.lo-c,
	.lo-separator-v>.lo-c {
		position: relative
	}
	.lo-separator-h>.lo-c:before {
		content: "";
		position: absolute;
		left: calc(-.5 * var(--lo-margin-h, 0) - .5px);
		top: 0;
		bottom: 0;
		border-left: 1px solid var(--lo-separator-h-color, var(--lo-separator-color, var(--lo-separator-color-fallback)))
	}
	.lo-separator-v>.lo-c:after {
		content: "";
		position: absolute;
		left: 0;
		top: calc(-.5 * var(--lo-margin-v, 0) - 1px);
		right: 0;
		border-top: 1px solid var(--lo-separator-v-color, var(--lo-separator-color, var(--lo-separator-color-fallback)))
	}
	.lo-c-no-separator+.lo-c:after,
	.lo-c-no-separator+.lo-c:before {
		display: none
	}
}

.direct-link {
	font-family: sans-serif;
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
	font-weight: 400
}

a[href].direct-link,
a[href].direct-link:visited {
	color: #949494;
	visibility: hidden
}

:focus>a[href].direct-link,
:focus>a[href].direct-link:visited,
:hover>a[href].direct-link,
:hover>a[href].direct-link:visited,
a[href].direct-link:focus,
a[href].direct-link:focus:visited {
	visibility: visible
}

.nh-footer {
	padding: var(--spacing) 0;
	margin-top: var(--spacing);
	border-top: 1px solid var(--border-light);
	font-size: .875em
}

.nh-footer-hed {
	font-weight: 700;
	font-size: 1em
}

.nh-footer-list {
	list-style: none
}

.nh-footer .netlify-identity-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block
}

.nh-footer .netlify-identity-item {
	display: inline-block;
	margin-left: 1em
}
